anyjson==0.3.3
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
boto==2.38.0
certifi==2017.7.27.1
chardet==2.3.0
crcmod==1.7
cycler==0.10.0
google-compute-engine==2.4.1
inflect==0.2.5
matplotlib==2.1.1
numpy==1.13.0
pygobject==3.20.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.9.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
tornado==4.0
Unidecode==0.4.21
urllib3==1.24.2
virtualenv==15.0.1
ws4py==0.4.2
